.App {
  font-family: "Avenir Medium", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.drop-down {
  max-width: 120px;
  margin-left: 100px;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.row-container {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 40px;
}

b,
strong,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h6 {
  margin-bottom: -4px;
  text-align: left;
}

.para {
  text-align: left;
  margin-bottom: -6px;
  font-size: 15px;
}

.subpara {
  float: left;
  text-align: left;
  color: #7a8287;
  font-size: 15px;
  margin-bottom: 0px;
}

.labels {
  font-size: 15px;
  float: left;
  margin-bottom: 2px;
}

.pickupdetails {
  margin-left: 40px;
}

span.group-time {
  background-color: white;
  color: #c8d0d4;
  border-right-style: hidden;
}

span.group-cargo {
  background-color: white;
  color: #c8d0d4;
  border-left-style: hidden;
}

.select-time {
  border-left-style: hidden;
  width: 50px;
}

.cargo-text {
  border-right-style: hidden;
}

.opening-hours {
  float: left;
  margin-left: 10px;
  color: rgb(27, 25, 25);
}

.line {
  max-width: 85%;
}

.red-underline {
  text-align: left;
  text-decoration: underline red;
  color: red;
  font-size: 15px;
  cursor: pointer;
  margin-top: 4px;
}

.red-underline::first-letter {
  margin-right: 3px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #fff;
}

.cargo-title {
  font-size: 15px;
  color: rgb(126, 119, 119);
  font-weight: bold;
  margin-top: 4px;
}

.row-form {
  margin-top: 20px;
  max-width: 89%;
}

.save {
  text-decoration: underline red;
  color: red;
  font-size: 15px;
  cursor: pointer;
  margin-top: 4px;
  font-weight: bolder;
  float: right;
}
