.App {
  text-align: center;
  margin-left: 100px;
  margin-right: 80px;
}

.main-div {
  margin-top: 20px;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.row-container {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 40px;
}

b,
strong,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h6 {
  margin-bottom: -4px;
  text-align: left;
}

.para {
  text-align: left;
  margin-bottom: -6px;
  font-size: 15px;
}

.subpara {
  float: left;
  text-align: left;
  color: #7a8287;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 1px;
}

.labels {
  font-size: 15px;
  float: left;
  margin-bottom: 2px;
  color: rgb(16 0 0);
}

.pickupdetails {
  margin-left: 40px;
}

span.group-cargo {
  background-color: white;
  color: #c8d0d4;
  border-left-style: hidden;
}

.cargo-text {
  border-right-style: hidden;
}

.opening-hours {
  float: left;
  margin-left: 10px;
  color: rgb(16 0 0);
}

.line {
  max-width: 85%;
}

.red-underline {
  text-align: left;
  text-decoration: underline #e63b09;
  color: #e63b09;
  font-size: 14px;
  cursor: pointer;
}

.red-underline::first-letter {
  margin-right: 3px;
  font-size: 120%;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: #fff;
}

.cargo-title {
  font-size: 15px;
  color: rgb(116, 110, 110);
  font-weight: 500;
  margin-top: 4px;
}

.row-form {
  margin-top: 20px;
  max-width: 89%;
  transition: opacity 1s ease;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.save {
  text-decoration: underline #e63b09;
  color: #e63b09;
  font-size: 15px;
  cursor: pointer;
  margin-top: 4px;
  font-weight: 500;
  float: right;
}

.select-option {
  font-size: 85%;
}
